-- Application Form Migration
ALTER TABLE public.lease_applications 
ADD COLUMN IF NOT EXISTS applicant_name TEXT,
ADD COLUMN IF NOT EXISTS physical_address TEXT,
ADD COLUMN IF NOT EXISTS po_box TEXT,
ADD COLUMN IF NOT EXISTS employer_details TEXT,
ADD COLUMN IF NOT EXISTS telephone_numbers TEXT,
ADD COLUMN IF NOT EXISTS marital_status TEXT,
ADD COLUMN IF NOT EXISTS children_count INTEGER,
ADD COLUMN IF NOT EXISTS age_bracket TEXT,
ADD COLUMN IF NOT EXISTS occupants_count INTEGER,
ADD COLUMN IF NOT EXISTS next_of_kin TEXT,
ADD COLUMN IF NOT EXISTS nationality TEXT,
ADD COLUMN IF NOT EXISTS house_staff BOOLEAN,
ADD COLUMN IF NOT EXISTS home_address TEXT,
ADD COLUMN IF NOT EXISTS location TEXT,
ADD COLUMN IF NOT EXISTS sub_location TEXT;

