ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS applicant_name TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS physical_address TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS po_box TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS employer_details TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS telephone_numbers TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS marital_status TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS children_count INTEGER; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS age_bracket TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS occupants_count INTEGER; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS next_of_kin TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS nationality TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS house_staff BOOLEAN; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS home_address TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS location TEXT; ALTER TABLE IF EXISTS public.lease_applications ADD COLUMN IF NOT EXISTS sub_location TEXT; 
